@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@800&display=swap');

.header {
  display: flex;
  font-family: 'Chivo', sans-serif;
  font-weight: 800; /* specify the font weight */
  background-color: #0a2647;
  font-size: 3vh;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 4px;
  color: white;
}

.header > *:hover{
  cursor: pointer;
}


.header > img {
  height: 4vh;
  width: auto;
  /* bottom: 2px; */
  position: static;
  margin-right: 2vh;
  margin-left: 1vh;
  cursor: pointer;
}
.nav {
  display: flex;
  align-content: flex-end;
  justify-content: right;
  /* align-items: center; */
  width: 100%;
  background-color: #1746a2;
  /* flex-wrap: nowrap; */
}

.link {
    /* font-size: ; */
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: right;
  margin: 7px 3vh 7px 7px;
  font-size: clamp(8px, 4vw, 18px);
}
.link:hover {
  color: black;
}