.projectContainers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    flex-basis: 0;
    width: 40%;

    /* border: 2px solid red; */

}
.projectContainers > h1 {
    padding-top: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 70%;
} 
.image {
    /* max-height: 20rem;
    max-width: 20rem;    */
    width: 70%;
    height: auto;
}