
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@800&display=swap');
.header {
  font-family: 'Chivo', sans-serif;
  background-color: #0a2647;
  font-size: 4vh;
  justify-content: left;
  text-align: left;
  padding: 1vh;
  color: white;
}
.header > img {
  height: 6vh;
  width: auto;
  bottom: 2px;
  position: relative;
  margin-right: 2vh;
  margin-left: 1vh;
  cursor: pointer;
}
.nav {
    display: flex;
    align-content: right;
    justify-content: right;
    /* align-items: center; */
    width: 100%;
    background-color: #1746a2;
}

.link {
  margin: 7px;
  font-size: 3vh;
  text-decoration: none;
  color: white;
  text-align: right;
  margin-right: 4vh;
}